.button {
  position: absolute;
  bottom: 5%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  
  &-prev {
    left: 45%
  }
  &-next {
    left: 55%
  }
  
  &:hover {
    transform: scale(1.2);
  }
  &[disabled] {
    cursor: default;
    transform: scale(1);
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
  &:active {
    transform: scale(0.8);
  }
}
