.country {
  &-card {
    width: 25vw;
    height: 40vh;
  }
  
  &-cards {
    width: 33vw;
    height: 50vh;
  }
}
.card-pic {
  display: inline-block;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
