.carousel {
  &__wrapper {
    position: fixed;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    height: 100vh;
    width: 100vw;
    color: #fff;
  }
}

.country {

  &-texts {
    width: 65vw;
    height: fit-content;
    & li {
      text-align: left;
    }
  }
  &-info {

  }


  &-titles {
    width: 45vw;
    font-size: 2.4rem;
    line-height: 1em;
    font-weight: bold;
    & li {
      text-align: left;
    }
  }
  &-title {
  
  }

}

