.carousel {
  &__wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }

  &__cards {
    width: 25vw;
    position: absolute;
    left: 70%;
    top: 25%;
    
    @media (max-width: 1024px) {
      width: 35vw;
      left: 60%;
    }
    @media (max-width: 768px) {
      width: 45vw;
      left: 40%;
    }
    @media (max-width: 425px) {
      width: 60vw;
    }
  }
}

.country {

  &-title {
    width: 45vw;
    height: 15vh;
    font-size: 3.2rem;
    line-height: 1em;
    font-weight: bold;
    & li {
      text-align: left;
    }
    .title {
      
    }

    @media (max-width: 1023px) {
      
    }
    @media (max-width: 767px) {
      
    }
  }

  &-description {
    width: 65vw;
    height: 25vh;
    & li {
      text-align: left;
    }
    .description {

    }
  }
  
}

// h1 