.carousel {
  &__wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    text-align: left;
    color: #fff;
  }

  &__cards {
    width: 25vw;
    position: absolute;
    left: 70%;
    top: 25%;
    
    @media (max-width: 1024px) {
      width: 35vw;
      left: 60%;
    }
    @media (max-width: 768px) {
      width: 45vw;
      left: 40%;
    }
    @media (max-width: 425px) {
      width: 60vw;
    }
  }

  &__titles {
    width: 33vw;
    
    position: absolute;
    left: 5%;
    top: 29%;
    
    @media (max-width: 1024px) {
      // width: 33vw;
    }
    @media (max-width: 768px) {
      width: 60vw;
    }
    @media (max-width: 425px) {
      // width: 45vw;
    }
  }
  
  &__descriptions {
    width: 50vw;

    position: absolute;
    left: 5%;
    top: 40%;
    
    @media (max-width: 1024px) {
      // width: 33vw;
    }
    @media (max-width: 768px) {
      width: 80vw;
    }
    @media (max-width: 425px) {
      // width: 33vw;
    }
  }
}
