.carousel {
  &__wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    text-align: left;
    color: #fff;
  }

  &__cards {
    width: 25vw;
    position: absolute;
    left: 70%;
    top: 25%;
    
    @media (max-width: 1024px) {
      width: 35vw;
      left: 60%;
    }
    @media (max-width: 768px) {
      width: 45vw;
      left: 40%;
    }
    @media (max-width: 425px) {
      width: 60vw;
    }
  }

  &__titles {
    width: 33vw;
    
    position: absolute;
    left: 5%;
    top: 29%;
    
    @media (max-width: 1024px) {
      // width: 33vw;
    }
    @media (max-width: 768px) {
      width: 60vw;
    }
    @media (max-width: 425px) {
      // width: 45vw;
    }
  }
  
  &__descriptions {
    width: 50vw;

    position: absolute;
    left: 5%;
    top: 40%;
    
    @media (max-width: 1024px) {
      // width: 33vw;
    }
    @media (max-width: 768px) {
      width: 80vw;
    }
    @media (max-width: 425px) {
      // width: 33vw;
    }
  }

  &__dot-group {
    position: fixed;
    left: 5px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // border: 0 solid rgba($color: #fff, $alpha: 0.5);
    // border-left-width: 1px;
  }

  &__dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.5);
    border: unset;
    font-size: 1.4rem;
    font-weight: bold;
    transform: scale(0.5);
    color: rgba($color: #fff, $alpha: 0);
    transition: transform .5s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform;
    
    &[disabled] {
      transform: scale(1);
      color: rgba($color: #fff, $alpha: 1);
    }
  }
}
